# String

in python string are unicode sequence of characters

In [6]:
#accessing substring from a string 
c="hello"
print(c,"\t")
for i in c:
    print(i)

hello
h
e
l
l
o

In [7]:
print(c[3]) #positive indexing

l

In [9]:
print(c[-1]) #-ve indexing

o

In [30]:
# slicing
c="hey there"
print(c[2:5])
print(c[0:5])
print(c[4:8])
print(c[:5])
print(c[:])
print(c[0:9:2])
print(c[-5:-2:2])

y t
hey t
ther
hey t
hey there
hytee
te

In [31]:
print(c[::-1])

ereht yeh

In [33]:
print(c[-1:-5:-1])

ereh

In [34]:
c[0]="r" #strings are immuatble datatype

TypeError: 'str' object does not support item assignment

In [45]:
c="world"

In [46]:
#Deletion
#del c[0]
del c

In [41]:
print(c)

NameError: name 'c' is not defined

In [47]:
#srings are immutable 
# strings are not editable 
# strings can only be deleted fully but can't deleted with small part

In [48]:
print("a"+"b")

ab

In [49]:
print("a"*8)

aaaaaaaa

In [50]:
"hello">"hey" #lexicographical ordering in the dictionary

False

In [51]:
" " and "hello"

'hello'

In [52]:
" " or "hello"

' '

In [53]:
print(not "hello")

False

In [55]:
print(not "")

True

In [56]:
c="newdelhi"
for i in c[::-1]:
    print(i)

i
h
l
e
d
w
e
n

In [57]:
c="newdelhi"
for i in c[1::2]:
    print(i)

e
d
l
i

# String functions
1. len 
2. max
3. min
4. sorted

In [60]:
c="newdelhi"
print(len(c))
print(max(c))
print(min(c))
print(sorted(c,reverse=True))

8
w
d
['w', 'n', 'l', 'i', 'h', 'e', 'e', 'd']

# Capitalize/Title/Upper/Lower/Swapcase

In [68]:
c="it is cold today"
c.capitalize()

'It is cold today'

In [62]:
c.title()

'It Is Cold Today'

In [63]:
c.upper()

'IT IS COLD TODAY'

In [64]:
c.lower()

'it is cold today'

In [69]:
c.swapcase()

'IT IS COLD TODAY'

In [70]:
"delhi".swapcase()

'DELHI'

In [71]:
# Count
c.count("i")

2

In [72]:
c.count("r")

0

In [73]:
c.find("i")

0

In [74]:
c.find("d")

9

In [76]:
c.index("d")

9

In [77]:
c.endswith("e")

False

In [78]:
# Format
"hello {} is beautiful".format("haifa")

'hello haifa is beautiful'

In [79]:
"hello {} is beautiful, it is a big city in {}".format("haifa","Isreal")

'hello haifa is beautiful, it is a big city in Isreal'

In [80]:
# isalnum/isalpha/isdecimal/isdigit/isidentifier

In [81]:
"falsw45".isalnum()

True

In [82]:
"falsw45".isalpha()

False

In [83]:
"25345".isdigit()

True

In [85]:
"xcf dr5".isidentifier()

False

In [88]:
"244.3".isdecimal()

False

In [89]:
"xcfdr5".isidentifier()

True

# Split 
it convert the string into list

In [92]:
a="there are very, smart people in the room"
a.split()

['there', 'are', 'very', 'smart', 'people', 'in', 'the', 'room']

In [93]:
a="there are very, smart people in the room"
a.split(",")

['there are very', ' smart people in the room']

In [94]:
a="India is very big country. composed of several states and UT.welcome."

In [95]:
a.split(".")

['India is very big country',
 ' composed of several states and UT',
 'welcome',
 '']

# Join
this operation is opposit to split function

In [99]:
" ".join(['there', 'are', 'very', 'smart', 'people', 'in', 'the', 'room'])

'there . are . very . smart . people . in . the . room'

In [100]:
" . ".join(['there', 'are', 'very', 'smart', 'people', 'in', 'the', 'room'])

'there . are . very . smart . people . in . the . room'

In [101]:
" * ".join(['there', 'are', 'very', 'smart', 'people', 'in', 'the', 'room'])

'there * are * very * smart * people * in * the * room'

In [102]:
" / ".join(['there', 'are', 'very', 'smart', 'people', 'in', 'the', 'room'])

'there / are / very / smart / people / in / the / room'

# Replace

In [103]:
a="there are very, smart people in the room"
a.replace("smart","happy")

'there are very, happy people in the room'

# Strip
For removing the unwanted space and symbols

In [133]:
name="       harry/         "
"hi"+name

'hi       harry/         '

In [134]:
name.strip("/ ")

'harry'

In [135]:
name="       harry/         "

In [137]:
name.strip(" /")

'harry'

# List

In [139]:
a=list("hello")
a

['h', 'e', 'l', 'l', 'o']

In [142]:
for i in a:
    print(i)

h
e
l
l
o

In [143]:
a=[2,3,4,[5,6]]
a[3][0]

5

In [145]:
a[-1][0]

5

In [146]:
a[-1][1]

6

In [147]:
a=[2,3,4,[[5,6],2]]
a[-1][0][1]

6

In [148]:
a[-1][1]

2

In [150]:
a[0]=10

In [152]:
a[-1]="happy"

In [153]:
a

[10, 3, 4, 'happy']

In [154]:
a[:2]

[10, 3]

# Append insert vsingle elent at a time at the end of the list

In [159]:

l=[6543,7,6,5]
l.append(9)
l

[6543, 7, 6, 5, 9]

# Extend: it has functionality as append but it can add multiple elements at the end of the list at a time

In [162]:

l.extend([48,69,23])

In [164]:
set(l)

{5, 6, 7, 9, 23, 48, 69, 6543}

In [165]:
l.extend('ram')

In [166]:
l

[6543, 7, 6, 5, 9, 48, 69, 23, 48, 69, 23, 'r', 'a', 'm']

# Delete

In [167]:
del l[-4]

In [168]:
l

[6543, 7, 6, 5, 9, 48, 69, 23, 48, 69, 'r', 'a', 'm']

In [169]:
del l[0]

In [170]:
l

[7, 6, 5, 9, 48, 69, 23, 48, 69, 'r', 'a', 'm']

In [171]:
del l[-3:]

In [172]:
l

[7, 6, 5, 9, 48, 69, 23, 48, 69]

# remove=: when we don't know index but value

In [174]:
l.remove(69)
l

[7, 6, 5, 9, 48, 23, 48, 69]

# Pop: delete the last element

In [175]:
l.pop()

69

# clear : make the list empty

In [177]:
l.clear()

In [178]:
l

[]

In [180]:
# Operations
L1=[1,2,3,4]
L2=[5,6,7]
L=L1+L2
L

[1, 2, 3, 4, 5, 6, 7]

In [181]:
L*2 #it will replicate the elements of the list twice

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [182]:
for i in L:
    print(i)

1
2
3
4
5
6
7

In [183]:
4 in L # to check if the given elemnt is in list

True

In [184]:
len(L)

7

In [185]:
min(L)

1

In [186]:
max(L)

7

In [187]:
sorted(L) #this is not permanent

[1, 2, 3, 4, 5, 6, 7]

In [188]:
sorted(L,reverse=True)

[7, 6, 5, 4, 3, 2, 1]

In [190]:
L.sort() # this is permanent change
L

[1, 2, 3, 4, 5, 6, 7]

In [191]:
L.index(5)

4

In [201]:
s="where are you"
s_cap=[]
for i in s.split():

    s_cap.append(i.capitalize())
    
s_new=" ".join(s_cap)
s_new

'Where Are You'

In [202]:
s="abc@technion.ac.il"
print(s.find("@"))

3

In [203]:
print(s[:s.find("@")])

abc

In [206]:
print(s.split("@")[0])

abc

# Tuple
Use tuple only in the case where data integration is very important

In [207]:
t=(12,3,4,(5.6))
t

(12, 3, 4, 5.6)

In [209]:
s=("str") # not a tuple
s

'str'

In [212]:
r=("str",) # need to have one extra comma to nmake it tuple
r

('str',)

In [222]:
s=tuple("str")
s

('s', 't', 'r')

In [216]:
s[0]

's'

In [217]:
s[-1]

'r'

In [219]:
s[0]=8 #tuples are immutable just loike strings

TypeError: 'tuple' object does not support item assignment

In [220]:
del(s) #only complete deletion is possible

In [223]:
s

('s', 't', 'r')

In [225]:
del(s[-1]) #item deletion is not possible

TypeError: 'tuple' object doesn't support item deletion

In [227]:
t=(12,3,4,(5.6))
sorted(t)

[3, 4, 5.6, 12]

In [229]:
sorted(t,reverse=True)

[12, 5.6, 4, 3]

# sets
1. will not allow duplicates
2. no indexing and slicing
3. don't allow mutable datatypes
4. itself mmutable

In [233]:
s={}
S=set(s)

set()

In [234]:
type(set(s))

set

In [235]:
S={1,2,3,3,4}
S

{1, 2, 3, 4}

In [236]:
S={1,"hello",[1,2,3]}

TypeError: unhashable type: 'list'

In [238]:
S={1,"hello",(1,2,3)} #hashing will change the ordre of the elements
S

{(1, 2, 3), 1, 'hello'}

In [240]:
S={{2,3},2} #coz sets are mutable
S

TypeError: unhashable type: 'set'

In [241]:
S={1,"hello",(1,2,3)} #hashing will change the ordre of the elements
S[0]

TypeError: 'set' object is not subscriptable

In [243]:
L=list(S)
L[0]="hey"

In [244]:
L

['hey', (1, 2, 3), 'hello']

In [246]:
set(L) #thios is not the same set but a new one at different location

{(1, 2, 3), 'hello', 'hey'}

In [247]:
# mutable
S.add(53)
S

{(1, 2, 3), 1, 53, 'hello'}

In [248]:
# delete
del(S)

In [249]:
S={1,"hello",(1,2,3)}

In [251]:
del(S[0]) #coz sets don't allow indexing

TypeError: 'set' object doesn't support item deletion

In [253]:
#remove
S.remove(1)

In [261]:
S={1,"hello",(1,2,3)}
S

{(1, 2, 3), 1, 'hello'}

In [262]:
#PoP: it delete last item from the list biut here it is deteermined by hashing
S.pop()

1

In [263]:
S #pop

{(1, 2, 3), 'hello'}

# + and * are not allowed between ctwo sets

In [264]:
# loop
for i in S:
    print(i)

(1, 2, 3)
hello

In [265]:
# Funtions
len(S)

2

In [267]:
max(S)

TypeError: '>' not supported between instances of 'str' and 'tuple'

In [269]:
S.add(3)

In [272]:
A={1,2,4,6}
max(A)

6

In [273]:
min(A)

1

In [274]:
sum(A)

13

In [275]:
sorted(A)

[1, 2, 4, 6]

In [276]:
sorted(A,reverse=True)

[6, 4, 2, 1]

In [278]:
B=A.union(S)
B

{(1, 2, 3), 1, 2, 3, 4, 6, 'hello'}

In [280]:
A.intersection(B)

{1, 2, 4, 6}

In [281]:
B.difference(A)

{(1, 2, 3), 3, 'hello'}

In [283]:
B.symmetric_difference(A)

{(1, 2, 3), 3, 'hello'}

In [285]:
A.isdisjoint(B)

False

In [286]:
A.issubset(B)

True

# Dictionary
1. it doesn't have indexes
2. mutable
3. keyes are immutable but values can be changed
4. keys should be unique


5. List,set,dict are mutable
6. tuple, string, int,float, bool, and complex are not mutable

In [288]:
A=dict()
A

{}

In [293]:
A={"a":1,
  "b":2}

In [295]:
A={[1,2]:1} #keys are immutable

TypeError: unhashable type: 'list'

In [296]:
A={(1,2):1}  #as keys are immuatble

In [299]:
A={"a":1, "a":2} #will give most recent value of the key
A

{'a': 2}

In [300]:
A={"a":1, "b":{"c":2,"d":4}}
A

{'a': 1, 'b': {'c': 2, 'd': 4}}

In [303]:
#Accessing items from dictionary can be done using keys only but not indexes
A['a']

1

In [302]:
A["b"]

{'c': 2, 'd': 4}

In [306]:
A["b"]["c"]

2

In [307]:
A["a"]="happy"

In [308]:
A

{'a': 'happy', 'b': {'c': 2, 'd': 4}}

In [309]:
A.get("a")

'happy'

In [310]:
#adding new values 
A["e"]=6

In [311]:
A

{'a': 'happy', 'b': {'c': 2, 'd': 4}, 'e': 6}

In [312]:
#how to delete 
del A

In [318]:
A={"a":1, "b":{"c":2,"d":4}}

In [319]:
#deleting pericular element
del A['a']

In [320]:
A

{'b': {'c': 2, 'd': 4}}

In [324]:
#Empty the dictonary, it just clear the elements
A.clear()

In [325]:
A

{}

In [329]:
#Operations
# 1. can't do + and * operations
# 2. loop will do the above tasks




A={"a":1, "b":{"c":2,"d":4}}
for i in A:
    print(i)
    print(A[i])

a
1
b
{'c': 2, 'd': 4}

In [330]:
# Checking the avaialablity of elements in dict
1 in A #not apply on values but on keys, see below

False

In [331]:
"a" in A

True

In [333]:
#Special functions for accessing the keys and values
A.keys()

dict_keys(['a', 'b'])

In [334]:
A.values()

dict_values([1, {'c': 2, 'd': 4}])

In [335]:
dict.__doc__

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

# Function
1. if a function doesn't any value it returns none# 

2. always make sure your function doesn't crash, you can do it by different means depending on the use case

# Benifits of using Functions
1. code modularity
2. code reusablity
3. code organisation

In [340]:
# passing variable number of arguments,here *number is a tuple of number
def multiply(*number):
    print(number)
    prod=1
    for i in number:
        prod=prod*i
    print(prod)

In [341]:
multiply(1,3,4,5,6)

(1, 3, 4, 5, 6)
360

In [343]:
# if a function doesn't have a local variable then it can use global one. but it can't change the value of it.
#but using the global keyword we change it' value
def new(s):
    print(x)

x=2
print(new(s))
print(x)

2
None
2

In [346]:
def new(s):  #chnge in global varaibles are not allowed
    
    x=x+1

x=2
print(new(s))
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [347]:
def new(s):
    global x
    x=x+1

x=2
print(new(s))
print(x)

None
3

In [355]:
#nested function
def A():
    print("inside A")
    def B():
        print("inside B")
    B()
A()

inside A
inside B

In [356]:
def A():
    print("inside A")
    def B():
        print("inside B")
A()

inside A

In [358]:
# function as object
x=A
x()

inside A

In [359]:
# function can be a data type also

# Recusion

In [361]:
def mul(a,b):
    res=0
    for i in range(b):
        res=res+a
    return res
        

mul(2,3)

6

In [363]:
#last in first out 
def mul(a,b):
    if a==1:
        return b
    else: 
        return b+mul(a-1,b)
    
print(mul(2,3))

6

In [367]:
#factorial 
def fact(n):
    if n==1:
        return n
    else:
        return n*fact(n-1)

    
fact(3)

6

In [371]:
#Palindrom 
def pal(string):
    if len(string)<=1:
        print('palindrom')
    else:
        if string[0]==string[-1]:
            pal(string[1:-1])
        else:
            print("not palindrom")
            
pal("mam")

palindrom

In [369]:
pal('happy')

not palindrom

In [372]:
pal("aaaa")

palindrom

In [385]:
#fibonacci
import time
def fib(n):
    if n==1 or n==0:
        return 1
    else:
        return fib(n-1)+fib(n-2)

start=time.time()
fib(42)
end=time.time()
print("time took:", end-start)

time took: 49.30919623374939

In [386]:
# but recursion is highly inefficient, you can observe this by using big value in fib function. 
# here time compexity is 2**n, if we use this function some website anf in any case user give very big value
#it may take years to give the result.

# Iterator
it is an object in python that allow the programmer to traverse through
a sequence of data woithout having to store the entire data in the memory.
1. loops
2. heavily used in machine learning and deep learning to handle the large amount of data. coz they store one element at a time in the memory. save huge amout of ram

In [388]:
L=[i for i in range(50)] #iterable

import sys
sys.getsizeof(L)

472

In [391]:
# do above thing using range only not using list,here range uses iterator. and took very less memory space.
x=range(50) #iterable
sys.getsizeof(x)

48

# Iterable
1. it can generate an iterator when pass on to function iter()
2. every itaerator is also an itarable but nort all the iterables are iterators
3. every iterable has an iter() function.
4. every iterator has both iter and next function.

In [394]:
L=[1,2,3,5] #iterable but not iterator, because it need to load all the elments in the meomry at once but iterator does do this.
iter(L) #iterator
type(iter(L))

list_iterator

In [396]:
dir(L) #is iterable becasue it has iter function 
dir(iter(L)) #is iterator because it has both __iter__ and __next__ methods

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [404]:
#working of for loop
L=[1,2,3,4,5]
x=iter(L)
next(x)
next(x)
next(x)

next(x)
next(x)
next(x)

StopIteration:

In [408]:
def myloop(x):
    iters=iter(x)
    while True:
        
        try:
            print(next(iters))
        except StopIteration:
            break

In [409]:
myloop(L)

1
2
3
4
5

In [417]:
class Myrange:
    def __init__(self,start,end):
        self.start=start
        self.end=end
    def __iter__(self):
        return range_iter(self)

In [418]:
class range_iter:
    def __init__(self,iterable_obj):
        self.iterable_obj=iterable_obj
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.iterable_obj.start>=self.iterable_obj.end:
            raise StopIteration
        
        current=self.iterable_obj.start
        self.iterable_obj.start+=1
        return current

In [419]:
for i in Myrange(1,5):
    print(i)

1
2
3
4

# Generators
generators are simple way of creating iterators
1. difference between generator and normal fucntion: normal fucntion execute and return it's final output.
2. but generators on execution give result and on next iteratiuon they remember theoir past output and output the next item.

In [427]:
def gen():
    yield "first"
    yield "2nd"

g=gen()
print(g)

<generator object gen at 0x110294720>

In [422]:
print(next(g))

first

In [423]:
print(next(g))

2nd

In [428]:
for i in g:
    print(i)

first
2nd

In [435]:
def sqre(num):
    for i in range(1, num+1):
        yield i**2

In [436]:
gen=sqre(10)

In [437]:
print(next(gen))

1

In [438]:
for i in gen: #it remembers the previous output and give the result for 2 onwards
    print(i)

4
9
16
25
36
49
64
81
100

In [439]:
# Range function using generator
def my_range(n):
    for i in range(n):
        yield i

In [441]:
rng=my_range(3)

In [442]:
for i in rng:
    print(i)

0
1
2

# More siplified form for generators
# Generators Expression

In [443]:
L=[i**2 for i in range(1,5)]
L

[1, 4, 9, 16]

In [445]:
gen=(i**2 for i in range(1,5))  #generator expression
for i in gen:
    print(i)

1
4
9
16

In [446]:
gen

# UseCase
## specifically in deep learning and deep learning where we have to deal with large amount of data

In [450]:
!pip install opencv-python

Collecting opencv-python
  Obtaining dependency information for opencv-python from https://files.pythonhosted.org/packages/77/df/b56175c3fb5bc058774bdcf35f5a71cf9c3c5b909f98a1c688eb71cd3b1f/opencv_python-4.9.0.80-cp37-abi3-macosx_11_0_arm64.whl.metadata
  Downloading opencv_python-4.9.0.80-cp37-abi3-macosx_11_0_arm64.whl.metadata (20 kB)
Requirement already satisfied: numpy>=1.21.2 in ./anaconda3/lib/python3.11/site-packages (from opencv-python) (1.23.5)
Downloading opencv_python-4.9.0.80-cp37-abi3-macosx_11_0_arm64.whl (35.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.4/35.4 MB 6.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: opencv-python
Successfully installed opencv-python-4.9.0.80

In [463]:
import os 
import cv2  #very useful in deep learning

def image_data_reader(folder_path):
    for file in os.listdir(folder_path):
        f_array=cv2.imread(os.path.join(folder_path,file))
        yield f_array

In [464]:
gen=image_data_reader('/Users/ravina/Desktop/Cat') #loading one image at a time in the memory, keras implemented the same thing their documentation.
next(gen)
next(gen)

array([[[158, 157, 143],
        [128, 126, 115],
        [103,  97,  92],
        ...,
        [ 71,  70,  66],
        [ 71,  70,  66],
        [ 71,  70,  66]],

       [[158, 157, 143],
        [128, 126, 115],
        [103,  97,  92],
        ...,
        [ 74,  73,  69],
        [ 74,  73,  69],
        [ 74,  73,  69]],

       [[157, 156, 142],
        [128, 126, 115],
        [103,  97,  92],
        ...,
        [ 77,  76,  72],
        [ 77,  76,  72],
        [ 77,  76,  72]],

       ...,

       [[128, 123, 125],
        [126, 121, 123],
        [124, 119, 121],
        ...,
        [ 40,  61,  83],
        [ 38,  59,  81],
        [ 37,  58,  80]],

       [[135, 132, 134],
        [132, 129, 131],
        [130, 127, 129],
        ...,
        [ 39,  60,  82],
        [ 38,  59,  81],
        [ 37,  58,  80]],

       [[140, 137, 139],
        [138, 135, 137],
        [135, 132, 134],
        ...,
        [ 39,  60,  82],
        [ 38,  59,  81],
        [ 37,  58,  80]]], dtype=uint8)

# Benifits of using generators
1. ease of implementation 
2. memory effecient: save memory
3. can represent infinite dtream: it can. work on infinite length of data by fetching one elememt at a time
4. can chain the generators